-- index - url https://pypi.python.org/simple/

pygame == 1.9.2a0
pyganim == 0.9.2

How to install:
- Go to cmd, run a "pip install -r requirements.txt" where -r is the package
e.g. pip install pygame requirements.txt

- If you dont have pip, i recommend you install it. Or go to the url above to download the packages. 